<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geeky7.rohit.location" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.ThreeTabsActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FiveColorChangingTabsActivity" />

        <activity android:name=".activity.ThreeTabsQRActivity" />

        <activity android:name=".activity.BadgeActivity" />

        <activity
            android:name=".activity.CustomColorActivity"
            android:label="@string/title_activity_custom_color"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.Configure"
            android:excludeFromRecents="true"
            android:label="@string/action_configure"
            android:parentActivityName=".activity.ThreeTabsActivity" >
        </activity>

        <activity
            android:name=".activity.SelectRule"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_select_rule"
            android:parentActivityName=".activity.Configure" >
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.Th">
        </activity>

        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.Automatic"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.SemiAutomatic"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.Manual"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.MyAccessibilityService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.BedAndDark"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.Walking"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".service.Notification"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
